*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin:0 auto;
  text-align:center;
  zoom: 130%;
}

#preloadfont{
  font-family: 'Audiowide', cursive;
}

#titulo{
  font-family: 'Faster One',cursive;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 1024px;
  height: 576px;
  font-family: 'Audiowide', cursive;
}

@import url(https://fonts.googleapis.com/css?family=Audiowide);

@font-face {
  font-family: 'Audiowide',cursive;
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide Regular'), local('Audiowide-Regular'), url(https://fonts.gstatic.com/s/audiowide/v8/l7gdbjpo0cum0ckerWCdmA_OIxo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}
li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.wrapper {
  width: 1024px;
  height: 576px;
  top: 5px;
  left: 5px;
}

#menu {
  position: absolute;
  width: 1024px;
  height: 576px;
  border: 1px solid black;
  z-index: 2;
  text-align: center;
  background-color: #85d6ff;
  background-image: url('../imgs/fondos/fondocompleto.jpg');
  background-size: 90%;
}

#progress {
  display: none;
  height: 12%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#percent {
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#progress-bar {
  width: 200px;
}

#correcta {
  display: none;
  height: 50%;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
}

.sound {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}
.sound-on {
  background-image: url('../imgs/soundOn.png');
  background-repeat: no-repeat;
}
.sound-off {
  background-image: url('../imgs/soundOff.png');
  background-repeat: no-repeat;
}

#main {
  display: none;
  height: 55%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-shadow:2px 2px #FB1886;
}
#main h1 {
  color: black;
  font-size: 90px;
}

.button {
  display: block;
  width: 250px;
  margin: 0 auto;
  height: 50px;
  border: 2px solid #AA2699;
  color: white;
  font-family: 'Audiowide', cursive;
  font-size: 30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #FB1886;
  background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
  background-image: linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
  border-radius: 5px;
  transition: 0.5s;
  opacity: 0.8;
  vertical-align: middle;

}

.button:hover {
  background-color: #B30D5D;
  background-image: -webkit-linear-gradient(bottom, #B30D5D 0%, #FB1886 100%);
  background-image: linear-gradient(to bottom, #B30D5D 0%, #FB1886 100%);
  transform: scale(1.5) rotate(2deg);
  opacity: 1;
}

#credits {
  display: none;
  margin: auto;
  position: absolute;
  top: 25%; left: 0; bottom: 0; right: 0;
}
#credits li {
  padding: 5px 0;
}

.main ul{
  padding:20px;
}

.artwork, .music, .developer {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.artwork {
  color: white;
  font-family: 'Audiowide', cursive;
  font-size: 35px;
  line-height: 1;
  letter-spacing: 2px;
}

#enviopuntaje{
  display: inline;
  vertical-align: middle;
}

.enviar
{
  vertical-align: middle;

}

#score{
  font-size: 40px;
  color:  #FB1886;
}

#linktexto{
  text-decoration: none;
  font-size: 40px;
  color:  #FB1886;
}

#linktexto:hover{
  opacity: 0.8;
}

.music {
  color: #e6e71f;
}

.back, .back:hover {
  margin-top: 10px;
}

#game-over {
  display: none;
  text-align: center;
  padding-top: 150px;
  z-index: 1;
  width: 1024px;
  height: 576px;
  position: absolute;
}

#game-over h2{
  color: white;
  font-style: normal;
}

#game-over .button{
  margin-top: 20px;
}

#preguntaactiva {
  display: none;
  text-align: center;
  padding-top: 200px;
  z-index: 1;
  width: 1024px;
  height: 576px;
  position: absolute;
}

#preguntaactiva h2{
  color: white;
  font-style: normal;
}

#preguntaactiva .button{
  margin-top: 20px;
}
