body {font: 1em/150% Helvetica, Arial, sans-serif; padding: 1em; margin: 0 auto; max-width: 60em;}
@media (min-width: 70em) {
  body {font-size: 130%;
  height: 100%;}
}

@media screen and (min-width: 480px) {
  nav ul {
    display: flex;
    flex-wrap:wrap;
  }
}

h1 {font-size: 2em;}
h3 {padding-top:1em;}

div p, #id:first-line {background-color: red}
div p                 {margin          :   0; padding         : 1em;}
div p + p             {padding-top     :   0;                       }

nav {
  padding-top: 1em;
  font-family: font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #333;
}
nav li{
  flex-grow:1;
  text-align:center;
}
nav li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
}
nav li a:hover {
  background: tomato;
  color: white;
}

#profilepicture{
  width: 10em;
  border-radius: 50%;

}

#titulo{
  float: left;
}

section{
  padding-bottom: 2em;
  text-align: center;
  
}
#header-wrapper{
  height: 11em;
  width: 30em;
  text-align: center;
  margin:0 auto;
  padding: 1em 1em 0em 1em;
  line-height: 8em;
}

header{
  height: 100%;
}

footer{
  margin:0 auto;
  text-align: center;
}